@mixin row($gap: 0.75em, $basis) {
  display: flex;
  flex-direction: row;

  li {
    flex: 0 1 $basis;
    padding: 0;
  }

  li + li {
    padding-top: 0;
    padding-left: $gap;
  }
}

@mixin col($gap: 0.75em) {
  display: flex;
  flex-direction: column;

  li {
    flex: 0 1 auto;
    padding: 0;
  }

  li + li {
    padding-left: 0;
    padding-top: $gap;
  }
}

.footer {
  --lh: var(--lh-2);
  --fs: var(--fs-1);

  text-align: center;
  margin-bottom: var(--site-margin);

  @media (min-width: $media-sm) {
    text-align: left;
  }
}

.footer a {
  transition: color var(--t-to);

  &:hover {
    color: var(--secondary);
  }

  &.focus-visible {
    color: var(--back);
    background: var(--text);
  }
}

.footer-section {
  margin-top: calc(var(--site-margin) * 2);

  @media (max-width: $media-sm) {
    & + & {
      border-top: 1px solid var(--disabled);
      padding-top: calc(var(--site-margin) * 2);
    }
  }
}

.footer-logo-list {
  @include row(0.75em, 50%);
  align-items: center;

  @media (min-width: $media-sm) {
    li {
      flex-basis: 25%;
    }
  }
}

.footer-link-list {
  @include col;
}

.footer-info-list {
  @include col;

  @media (min-width: $media-sm) {
    @include row(0.75em, 25%);
  }
}

.footer-logo {
  width: 100%;
  max-width: clamp(100px, calc(100vw / (var(--media-sm) / 100)), 140px);
}
