.form {
  --fs: var(--fs-4);
  --fw: var(--fw-4);

  font-size: var(--fs);
  max-width: 25.75ch;
  position: relative;
}

#data-form {
  display: none;
}

#user-form {
  + .confirmation {
    display: none;
  }

  &.submitted {
    animation: fade var(--dur-05) var(--expo-in) var(--dur-02) reverse both;

    &.removed {
      display: none;

      + .confirmation {
        display: block;
      }
    }
  }
}

.confirmation {
  animation: fade var(--dur-75) var(--expo-out) both;
}

.form-title {
  --fs: var(--fs-2);
  --fw: var(--fw-6);

  margin-bottom: 1.25em;
}

.form .input {
  text-decoration: underline;
  text-decoration-color: var(--text);
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
  text-decoration-style: dashed;

  color: var(--secondary);
  display: inline-block;
  overflow-wrap: break-word;
  transition: color var(--t-to);

  &:focus {
    color: var(--text);
  }

  &.focus-visible {
    color: var(--text);
  }

  &:hover {
    color: var(--text);
  }

  &.valid {
    color: var(--text);
  }
}

.form .input.email {
  overflow-wrap: normal;
}

.form .submit {
  --fs: var(--fs-3);
  --fw: var(--fw-6);

  align-items: center;
  background: var(--text);
  border-radius: 4px;
  border: 1px solid var(--text);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  margin-top: 0.5em;
  overflow: hidden;
  padding: 0.5em 0.75em;
  position: relative;
  transition: color var(--t-to), background-color var(--t-to),
    border-color var(--t-to), transform var(--t-to);
  width: 100%;
  z-index: 20;

  span {
    color: var(--back);
    position: relative;
    z-index: 100;
  }

  &:not(:disabled) {
    + #form-disabled-tooltip {
      display: none;
    }

    &:hover {
      transform: scale(1.0075);
    }

    &.focus-visible {
      background-color: var(--back);

      span {
        color: var(--text);
      }
    }

    &:active {
      animation: bounce var(--dur-75) cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    }
  }

  &:disabled {
    background-color: var(--disabled);
    border-color: var(--disabled);
    color: var(--back);
    cursor: not-allowed;

    &:hover {
      animation: shake var(--dur-75) cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
      transform: translate3d(0, 0, 0);
      backface-visibility: hidden;
      perspective: 1000px;

      + #form-disabled-tooltip {
        opacity: 1;
        transform: translate(-50%, 8px);
      }
    }
  }
}

#form-disabled-tooltip {
  --fs: var(--fs-1);
  --fw: var(--fw-4);

  border-radius: 2px;
  display: inline-block;
  left: 50%;
  opacity: 0;
  padding: 0.5em 1em;
  position: absolute;
  text-align: center;
  top: 100%;
  transform: translate(-50%, -100%);
  transition: opacity var(--t-to), transform var(--t-to);
  width: max-content;
  z-index: 10;
}
