.form {
  --fs: var(--fs-4);
  --fw: var(--fw-4);

  font-size: var(--fs);
  max-width: 28ch;
}

#data-form {
  display: none;
}

#user-form {
  + .confirmation {
    display: none;
  }

  &.submitted {
    display: none;

    + .confirmation {
      display: block;
    }
  }
}

.form-title {
  --fs: var(--fs-2);
  --fw: var(--fw-6);

  margin-bottom: 1.25em;
}

.form .input {
  text-decoration: underline;
  text-decoration-color: var(--text);
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;

  color: var(--secondary);
  display: inline-block;
  overflow-wrap: break-word;
  transition: color var(--t-to);

  &:focus {
    color: var(--text);
  }

  &:focus-visible {
    color: var(--text);
  }

  &:hover {
    color: var(--text);
  }

  &.valid {
    color: var(--text);
  }
}

.form .input.email {
  overflow-wrap: normal;
}

.form .submit {
  --fs: var(--fs-3);
  --fw: var(--fw-6);

  border-radius: 4px;
  border: 1px solid currentColor;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  margin-top: 0.5em;
  overflow: hidden;
  padding: 0.5em 0.75em;
  position: relative;
  transition: color var(--t-to);
  width: 100%;

  &::after {
    background: var(--back);
    content: "";
    display: block;
    flex: none;
    height: 106%;
    left: -3%;
    mix-blend-mode: difference;
    position: absolute;
    bottom: -3%;
    transform: scaleY(0);
    transition: transform var(--t-to);
    width: 106%;
    transform-origin: bottom left;
  }

  &:hover {
    &::after {
      transform: scaleY(1);
    }
  }

  &:disabled {
    color: var(--secondary);
    pointer-events: none;
  }
}
