.form {
  --fs: var(--fs-4);
  --fw: var(--fw-4);

  font-size: var(--fs);
  max-width: 28ch;
}

#data-form {
  display: none;
}

#user-form {
  + .confirmation {
    display: none;
  }

  &.submitted {
    display: none;

    + .confirmation {
      display: block;
    }
  }
}

.form-title {
  --fs: var(--fs-2);
  --fw: var(--fw-6);

  margin-bottom: 1.25em;
}

.form .input {
  text-decoration: underline;
  text-decoration-color: var(--text);
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
  text-decoration-style: dashed;

  color: var(--secondary);
  display: inline-block;
  overflow-wrap: break-word;
  transition: color var(--t-to);

  &:focus {
    color: var(--text);
  }

  &:focus-visible {
    color: var(--text);
  }

  &:hover {
    color: var(--text);
  }

  &.valid {
    color: var(--text);
  }
}

.form .input.email {
  overflow-wrap: normal;
}

.form .submit {
  --fs: var(--fs-3);
  --fw: var(--fw-6);

  border-radius: 4px;
  border: 1px solid var(--text);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5em;
  overflow: hidden;
  padding: 0.5em 0.75em;
  position: relative;
  transition: color var(--t-to);
  width: 100%;
  background: var(--text);

  span {
    color: var(--back);
    position: relative;
    z-index: 100;
  }

  &::after {
    background: var(--back);
    bottom: 0;
    content: "";
    display: block;
    flex: none;
    left: 0;
    background-blend-mode: difference;
    position: absolute;
    top: 100%;
    transform-origin: bottom left;
    transition: top var(--t-to);
    width: 100%;
  }

  &:hover,
  &:focus-visible {
    span {
      mix-blend-mode: difference;
    }

    &::after {
      top: 0;
    }
  }

  &:disabled {
    background-color: var(--disabled);
    border-color: var(--disabled);
    color: var(--back);
    pointer-events: none;
  }
}
