@import "./vars/media";

.footer {
  --lh: var(--lh-2);
  --fs: var(--fs-1);

  text-align: center;
  margin-bottom: var(--site-margin);

  @media (min-width: $media-xxs) {
    text-align: left;
  }

  @media (min-width: $media-lg) {
    width: calc(100% / 6 * 4);
  }
}

.footer a {
  transition: color var(--t-to);

  &:hover {
    color: var(--secondary);
  }

  &:focus-visible {
    color: var(--back);
    background: var(--text);
  }
}

.footer-section {
  margin-top: calc(var(--site-margin) * 2);

  @media (max-width: $media-sm) {
    & + & {
      border-top: 1px solid var(--secondary);
      padding-top: calc(var(--site-margin) * 2);
    }
  }
}

.footer-grid {
  display: flex;
  flex-direction: column;

  @media (min-width: $media-xxs) {
    margin-right: -0.75em;
    flex-direction: row;
    flex-wrap: wrap;

    > * {
      flex: 0 1 calc(50% - 0.75em);
    }
  }

  @media (min-width: $media-sm) {
    flex-wrap: nowrap;

    > * {
      flex: 0 1 25%;
    }
  }
}

.footer-logo-list {
  flex-direction: row;

  > * {
    flex: 0 1 calc(50% - 0.75em);
  }

  @media (min-width: $media-sm) {
    flex-wrap: nowrap;

    > * {
      flex: 0 1 25%;
    }
  }
}

ul.footer-grid {
  row-gap: calc(var(--site-margin) * 2);
}

.footer-logo-wrapper,
.footer-link-list,
.footer-info {
  @media (min-width: $media-xxs) {
    padding-right: 0.75em;
  }
}

.footer-link-list li + li,
.footer-info:last-child {
  margin-top: 0.75em;
}

.footer-info:last-child {
  @media (min-width: $media-sm) {
    margin-top: 0;
  }
}

.footer-logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: $media-xxs) {
    justify-content: flex-start;
  }
}

.footer-logo {
  width: 100%;
  max-width: clamp(90px, calc(90vw / (var(--media-xxs) / 100)), 120px);
}
